@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

:root{
    --family-font: 'Figtree' sans-serif;
}

body{
    display: flex;
    justify-content: center;
    font-family: var(--family-font);
    padding: 150px 0px 50px 0px;
    background-color: hsl(47, 88%, 63%);
}

div.card{
    display: flex;
    width: 340px;
    align-items: center;
    box-shadow: 10px 10px black;
}
.learning-tag{
    background-color: hsl(47, 88%, 63%);
    width: 74pt;
    height: 23pt;
    border: 1pt;
    border-radius: 5pt;
    text-align: center;
    margin: 8px 0px 0px 0px;
}

h2.hoover-color-change{
    font-weight: 800;
    font-style: normal;
}
h2:hover{
  color:  hsl(47, 88%, 63%);
  cursor: pointer;
}
img.illustration-img {
    border-radius: 10pt;
    image-rendering:auto;
    padding: 8pt 8pt 8pt 8pt;
}
div.profile-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-right: 65%;
  }
.greg-header {
    display: flex;
    font-weight: 800;
    font-size: 15px;
  }
img.profile-img {
    display: flex;
    margin-right: 5pt;
    width: 32px;
    height: 32px;
  }
p{
    font-weight: 500;
    color: hsl(0, 0%, 50%);
    font-style: normal;
}